<div class="container">
  <h1>Bookings</h1>
  <% @bookings.each do |booking|  %>
    <div class="card-product my-3 rounded">
      <%= cl_image_tag(booking.user.photo.key, class: "d-block w-100") %>
      <div class="card-product-infos ">
      <h2>Enjoy the <%= booking.car.brand %> <%= booking.car.model %> in the color <%= booking.car.color %></h2>
      <%= link_to "Delete", delete_booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </div>
    </div>
  <% end %>
</div>
