<div class="container">
<h1>Create a new User</h1>

  <%= simple_form_for [@user] do |f| %>
    <%= f.input :username %>
    <%= f.input :email %>
    <%= f.input :encrypted_password %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
