<nav class="navbar-aircnc">
  <%= link_to root_path, class: "logo" do %>
  <img src="https://howtodrawforkids.com/wp-content/uploads/2022/02/how-to-draw-a-sports-car.jpg" alt="Logo" width=100>
  <% end %>
  <div class="navbar-links text-center ">
    <% if user_signed_in? %>
    <img src="#" alt="PB">
    <span class="current_user"><%= current_user.username %></span>
      <div class="btn btn-warning"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></div>
    <% else %>
      <div class="btn btn-warning"><%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %></div>
      <div class="btn btn-primary"><%= link_to "Login", new_user_session_path, class: "dropdown-item" %></div>
    <% end %>
  </div>
</nav>
