<nav class="navbar-aircnc">
  <%= link_to "AirSnS", root_path, class: "link-danger text-decoration-none logo fs-2" %>
  <%= form_with url: root_path, method: :get, class: "rounded-pill px-1 search" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search-input w-90 border-0",
      placeholder: "Search a car..."
    %>
    <%= button_tag :submit, class: "search-btn w-10 border-0" do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
  <div class="navbar-links">
    <% if user_signed_in? %>
    <%= cl_image_tag(current_user.photo.key, class: "rounded-circle", width: 38, height: 38)%>
    <span class="current_user"><%= current_user.username %></span>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "link-warning text-decoration-none" %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-warning text-decoration-none" %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary text-decoration-none" %>
    <% end %>
  </div>
</nav>
