<div class="container">
  <h1> <strong>Rent a Car</strong> </h1>
    <div class="cards">
      <% @cars.each do |car| %>
      <%= link_to car_path(car), class:"card-trip text-decoration-none" do %>
          <div id="carouselExampleSlidesOnly">
            <div class="carousel-inner">
              <div class="carousel-item active cars-img">
                <%= cl_image_tag(car.photos.first.key, width: 500, height: 300, crop: :fit, class: "d-block w-100") %>
              </div>
            </div>

          </div>
          <div class="card-trip-infos">
          <div>
            <h2 class="black-p"><%= "#{car.brand} #{car.model}" %></h2>
          </div>
          <h2 class="card-trip-pricing">$<%= car.price %></h2>
          <%= cl_image_tag(car.user.photo.key, class: "card-trip-user avatar-bordered") %>
          </div>


      <% end %>
      <% end %>

    </div>
</div>
