<%# title => e.g Ferrari - Pista 488 %>
<h1 class="car-title text-center my-3"><%= "#{@car.brand} - #{@car.model}" %></h1>

<%# bootstrap container %>
<div class="container">

<%# car card with 2 columns %>
<div class="card-car">

  <%# first column of the car card %>
  <div class="content">
    <div class="container mb-3">
      <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @car.photos.each_with_index do |photo, ind| %>
            <% if ind.zero? %>
              <div class="carousel-item active">
                <%= cl_image_tag(photo.key, class: "d-block w-100") %>
              </div>
            <% else %>
            <div class="carousel-item">
              <%= cl_image_tag(photo.key, class: "d-block w-100") %>
            </div>
            <% end %>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="infos">
      <div>
        <h2>Description</h2>
        <p><%= @car.description %></p>
      </div>
    </div>
  </div>

  <%# second column of the car card %>
  <div class="details">
    <div class="infos">
      <% @car.attributes.each do |key, val| %>
        <% unless key == "id" || key == "created_at" || key == "updated_at" || key == "description" %>
          <p class="title"><%= key.upcase %></p>
          <p class="ctn"><%= val %></p>
          <hr>
        <% end %>
      <% end %>
    </div>
    <div class="links">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "card-user rounded-circle" %>
      <%= simple_form_for [@car, @booking] do |f| %>
      <%= f.submit "Rent Now!", class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>

<%# end of the card %>
</div>

<%# end of the container %>
</div>
